/*jslint browser: true, node: true, nomen: true */

require.config({
    // The baseUrl depends on what is defined in karma.unit.js:basePath
    baseUrl: "/base",
    
    // alias libraries paths
    paths: {
        'angular': 'bower_components/angular/angular',
        'angular-route': 'bower_components/angular-route/angular-route',
        'angular-animate': 'bower_components/angular-animate/angular-animate',
        'angular-mocks': 'bower_components/angular-mocks/angular-mocks',
        'angularAMD': '{{{angularAMD-js-file}}}',
        'ngload': '{{{ngload-js-file}}}',
        'app': 'test/unit/lib/app',
        'app_no_ngload': 'test/unit/lib/app_no_ngload',
        'services': 'test/unit/lib/services',
        'regServices': 'test/unit/lib/regServices',
        'controller': 'test/unit/lib/controller',
        'regController': 'test/unit/lib/regController'
    },

    shim: {
        'angularAMD': ['angular'],
        'angular-route': ['angular'],
        'angular-animate': ['angular'],
        'angular-mocks': ['angular'],
        
        /*
        'services' in this case is a regular angular.js module and therefore non-requirejs module so 
        must be defined in shim.  This is critical as 'services' depends on processing in 'app' to
        support loading of regular angular.js modules.
        */
        'services': ['app'],
        
        /*
        Define the *Spec.js dependencies so that it can be executed in order
        */
        'test/unit/regServices.spec': ['test/unit/app.spec'],
        'test/unit/services.spec': ['test/unit/regServices.spec'],
        'test/unit/regController.spec': ['test/unit/services.spec'],
        'test/unit/controllerFn.spec': ['test/unit/regController.spec'],
        'test/unit/controller.spec': ['test/unit/controllerFn.spec']
        
    },
    
    // controllerSpec is at the end of dependency tree so kicking it off will start entire test
    deps: ['test/unit/controller.spec'],

    // start test run, once Require.js is done
    callback: window.__karma__.start
});
