<div class="masthead" nav-menu></div>

<div class="jumbotron">
    <h1>{{title}}</h1>
    <p class="lead">
        to angularAMD's demo site
    </p>
</div>

<hr>

<div class="main-content">
    <p class="lead">
        angularAMD facilitate creation of on-demand loading angular app components while optionaly 
        supporting on-demand loading of 3rd party angular modules.
    </p>
    
    <p class="lead">
        This page contains bare minimum to render this page.  As you switch tabs, you should see
        required components being loaded on-demand using Developer Tools.
    </p>
</div>

<hr>
