<div class="masthead" nav-menu></div>

<p class="lead">
    Third party Javascript API such as <a href="https://developers.google.com/maps/documentation/javascript/" target="_blank">
    Google Maps API</a> can be setup for on-demand loading using
    <code><a href="https://github.com/millermedeiros/requirejs-plugins/blob/master/src/async.js" target="_blank">async.js</a></code>
    RequireJS plugin as demonstrated in <code gh-link="js/scripts/service/mapServices.js"></code> wrapper.
</p>

<hr>

<div class="main-content">
    <div class="lead">
        <strong>{{title}}</strong>
        Move the marker to update latitude and logitude.
    </div>
    
    <div id="map-canvas"></div>
    <div>
        <span class="badge badge-success">
            <i class="icon-resize-horizontal"></i>
            latitude: {{latitude}}
        </span>
        <span class="badge badge-success">
            <i class="icon-resize-vertical"></i>
            longitude: {{longitude}}
        </span>
    </div>
</div>


