<div class="masthead" nav-menu></div>

<p class="lead">
    Third party Javascript API such as <a href="https://developers.google.com/maps/documentation/javascript/">
    Google Maps API</a> can be setup for on-demand loading using
    <code><a href="https://github.com/millermedeiros/requirejs-plugins/blob/master/src/async.js">async.js</a></code>
    RequireJS plugin as demonstrated in <code gh-link="js/scripts/service/gmaps.js"></code> wrapper.
</p>

<hr>

<div class="main-content">
    <div id="map-canvas"></div>
</div>


