<div class="masthead" nav-menu></div>

<p class="lead">
    Demonstrate how to create on-demand loaded components such as <code gh-link="js/scripts/controller/modules_ctrl.js">
    </code> and <code gh-link="js/scripts/directive/write.js"></code>.
    Standard AngularJS module <code gh-link="js/scripts/service/dataServices.js"></code> is supported
    via RequireJS plugin <code gh-link="../src/ngload.js"></code> as used in
    <code gh-link="js/scripts/controller/modules_ctrl.js"></code>.  Notice that angularAMD
    is able to handle out of sequence calls of <code>.factory</code> and <code>.constant</code> in
    <code gh-link="js/scripts/service/dataServices.js"></code>.
</p>

<hr>

<div class="main-content">

    <dl class="dl-horizontal">
        <dt><code>.ng-write</code> directive:</dt>
        <dd><span id="output-ng-write" ng-write="Output from Directive">ngWrite FAILED!!!</span></dd>
    </dl>
    
    <dl class="dl-horizontal">
        <dt>Value set in <code>.config</code>:</dt>
        <dd id="output-config">{{config_block_message}}</dd>
    </dl>
    
    <dl class="dl-horizontal">
        <dt>Value set in <code>.run</code>:</dt>
        <dd id="output-run">{{run_block_message}}</dd>
    </dl>
    
    <dl class="dl-horizontal">
        <dt><code>DeferredObject</code>:</dt>
        <dd id="output-deferred-object">{{obj_response.message}}</dd>
        <dt><code>.label</code>:</dt>
        <dd>{{obj_response.label}}</dd>
    </dl>
        
    <dl class="dl-horizontal">
        <dt><code>DeferredString</code>:</dt>
        <dd><span id="output-deferred-string" ng-write="str_response"></span></dd>
    </dl>

</div>
