<div class="masthead" nav-menu></div>

<h2>Choose a Location:</h2>

<hr>

<div class="main-content">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="cityModel" btn-radio="'London'">London</button>
        <button type="button" class="btn btn-primary" ng-model="cityModel" btn-radio="'Paris'">Paris</button>
        <button type="button" class="btn btn-primary" ng-model="cityModel" btn-radio="'Rome'">Rome</button>
    </div>
    
    <p class="break"></p>

    <carousel id="slide-carousel" interval="slideChangeInterval">
        <slide id="slide-image" ng-repeat="row in rows" active="row.active">
            <img  ng-src="{{row.media.m}}" style="margin:auto;">
            <div class="carousel-caption text-center">
                <p>Slide {{$index+1}} {{row.title}}</p>
            </div>
        </slide>
    </carousel>
</div>



