<div class="masthead" nav-menu></div>

<h2>Angular Services:</h2>

<hr>

<div class="main-content">

    <dl class="dl-horizontal">
        <dt><code>.ng-write</code> directive:</dt>
        <dd><span ng-write="Written string">NOT WORKING!!!</span></dd>
    </dl>
    
    <dl class="dl-horizontal">
        <dt>Value set in <code>.config</code>:</dt>
        <dd>{{config_block_message}}</dd>
    </dl>
    
    <dl class="dl-horizontal">
        <dt>Value set in <code>.run</code>:</dt>
        <dd>{{run_block_message}}</dd>
    </dl>
    
    <dl class="dl-horizontal">
        <dt>Deferred:</dt>
        <dd>{{deferred.message}}</dd>
    </dl>
        
    <dl class="dl-horizontal">
        <dt>Another:</dt>
        <dd><span ng-write="ngWrite_message">NOT WORKING!!!</span></dd>
    </dl>
        
    

</div>
