<h3 class="muted">angularAMD</h3>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li ng-class="isTabActive('view1')">
                    <a href="#/view1">Home</a>
                </li>
                <li ng-class="isTabActive('viewmap')">
                    <a href="#/viewmap">Map</a>
                </li>
                <li ng-class="isTabActive('view2')">
                    <a href="#/view2">Pictures</a>
                </li>
                <li ng-class="isTabActive('view3')">
                    <a href="#/view3">Modules</a>
                </li>
            </ul>
        </div>
    </div>
</div>
