<h3 class="muted">angularAMD</h3>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li id="nav-home" ng-class="isTabActive('home')">
                    <a href="#/home">Home</a>
                </li>
                <li id="nav-modules" ng-class="isTabActive('modules')">
                    <a href="#/modules">Modules</a>
                </li>
                <li id="nav-pictures" ng-class="isTabActive('pictures')">
                    <a href="#/pictures">Pictures</a>
                </li>
                <li id="nav-map" ng-class="isTabActive('map')">
                    <a href="#/map">Google Map</a>
                </li>
            </ul>
        </div>
    </div>
</div>
